<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="cash.z.android.wallet">

    <dist:module dist:instant="true" />

    <application
        android:name=".ZcashWalletApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_shield"
        android:roundIcon="@mipmap/ic_launcher_shield_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/ZcashTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/ZcashTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>